<div class="row-fluid">
    <div class="col-sm-8">
        <div style="width:100%; position: relative; overflow: hidden">
            <img style="width:100%" src="http://cdn-media-2.lifehack.org/wp-content/files/2015/06/8785445626_587fdac14d_b.jpg">
        </div>

        <div class="row-fluid">
            <div class="nav hidden-xs hidden-sm col-md-3 col-lg-2">

                    {% import '@bootstrap/components/social/login.html.twig' as login %}
                    <div style="padding-top:32px; ">
                        {{ login.twitter('Tweet', {"target": "popup", "style" : "text-align: center"}) }}
                        {{ login.facebook('Share', {"target": "popup", "style" : "text-align: center"}) }}
                        {{ login.google('Share', {"target": "popup", "style" : "text-align: center"}) }}
                        {{ login.linkedin('Share', {"target": "popup", "style" : "text-align: center"}) }}
                    </div>
            </div>


            <div class="col-xs-12 col-sm-12 col-md-9 col-lg-10" >

                <h1>{{ post_headline }}</h1>
                <p><a class="badge badge-{{ category_slug }}" href="{{- category_url -}}" title="{{ category }}">{{ category }}</a></p>

                <p class="small text-muted">May 19, 2015</p>
                {{- post_body -}}
            </div>
        </div>
    </div>

    <div class="col-sm-4">
        <h4>You may also like</h4>

        <ul class="media-list main-list">
            <li class="media">
                <a class="pull-left" href="#">
                    <img class="media-object" src="http://cdn-media-2.lifehack.org/wp-content/files/2015/03/10-Reasons-Why-People-Who-Read-A-Lot-Are-More-Likely-To-Be-Successful-170x170.jpg" alt="...">
                </a>
                <div class="media-body">
                    <h5 class="media-heading">
                        <a href="">10 Reasons Why People Who Read A Lot Are More Likely To Be Successful</a>
                    </h5>
                </div>
            </li>
            <li class="media">
                <a class="pull-left" href="#">
                    <img class="media-object" src="http://cdn-media-2.lifehack.org/wp-content/files/2015/03/10-Reasons-Why-People-Who-Read-A-Lot-Are-More-Likely-To-Be-Successful-170x170.jpg" alt="...">
                </a>
                <div class="media-body">
                    <h5 class="media-heading">
                        <a href="">10 Reasons Why People Who Read A Lot Are More Likely To Be Successful</a>
                    </h5>
                </div>
            </li>
            <li class="media">
                <a class="pull-left" href="#">
                    <img class="media-object" src="http://cdn-media-2.lifehack.org/wp-content/files/2015/03/10-Reasons-Why-People-Who-Read-A-Lot-Are-More-Likely-To-Be-Successful-170x170.jpg" alt="...">
                </a>
                <div class="media-body">
                    <h5 class="media-heading">
                        <a href="">10 Reasons Why People Who Read A Lot Are More Likely To Be Successful</a>
                    </h5>
                </div>
            </li>
        </ul>

    </div>
</div>
