{######################################################################################################################
 #
 # VERTICAL CARD
 #
 ######################################################################################################################}

{% macro vertical_card(args) %}

{% set header = args.header %}
{% set text = args.text %}
{% set cta_text = args.cta_text %}
{% set cta_link = args.cta_link %}
{% set cta_args = args.cta_args %}

{% spaceless %}
<div class="vertical-card">
    {{ _self.card_title(header, cta_link) }}
    {{ _self.card_text(text) }}
    {{ _self.card_call_to_action_link(cta_text, cta_link, cta_args) }}
    {{ _self.card_share_button('share', '{ "class": ""}') }}
</div>
{% endspaceless %}
{% endmacro %}


{######################################################################################################################
 #
 # NEWS CARD
 #
 ######################################################################################################################}

{% macro news_vertical_card(args) %}

{% set author = args.author %}
{% set author_link = args.author_link %}
{% set header = args.header %}
{% set subheader = args.subheader %}
{% set date = args.date %}
{% set tags = args.tags %}
{% set text = args.text %}
{% set cta_link = args.cta_link %}

{% spaceless %}
    <div class="news-vertical-card">
        {{ _self.card_title(header, cta_link) }}
        {{ _self.card_subheader(subheader) }}
        {{ _self.card_by(author, author_link, date) }}
        {{ _self.card_text(text) }}
        {{ _self.card_share_button('share', '{ "class": ""}') }}
    </div>
{% endspaceless %}
{% endmacro %}


{######################################################################################################################
 #
 # HELPERS
 #
 ######################################################################################################################}


{# ----------------------------------------------------------------- #}

{% macro card_share_button(text, args) %}
    {% import '@macros/form-macros.html.twig' as form %}
    <div class="card_share">
        {{ form.button(text, "share", '{ "class": ""}')}}
    </div>
{% endmacro %}

{# ----------------------------------------------------------------- #}

{% macro card_call_to_action_link(cta_text, cta_link, cta_args) %}
    <div class="card_action">
        <a href="{{- cta_link -}}">{{- cta_text  -}}</a>
    </div>
{% endmacro %}

{# ----------------------------------------------------------------- #}

{% macro card_title(header, cta_link) %}
    <div class="card_title">
        <h2 class="card_title-text" style="font-size: 34px;line-height: 40px;margin-bottom: 16px;">
            <a href="{{- cta_link -}}" title="{{- header -}}">{{- header -}}</a>
        </h2>
    </div>
{% endmacro %}

{# ----------------------------------------------------------------- #}

{% macro card_text(text) %}
    {% if text %}
        <div class="card_text">
            <br> {{- text|raw -}}
        </div>
    {% endif %}
{% endmacro %}

{# ----------------------------------------------------------------- #}

{% macro card_subheader(text) %}
    {% if text %}
        <h3 class="card_text" style="color: rgb(102, 102, 102); font-size: 18px;line-height: 22px;">
            {{- text|raw -}}
        </h3>
    {% endif %}
{% endmacro %}

{# ----------------------------------------------------------------- #}

{% macro card_by(author, author_link, date) %}
    <div style="text-transform: uppercase; font-size:11px">
        <br> Written by <a href="{{ author_link }}" title="{{ author }}">{{- author -}}</a>. {{ date|date('Y-m-d H:i:s') }}
    </div>
{% endmacro %}