{% macro flat_tabs(tabs, tab_contents, selected) %}
<ul class="nav nav-tabs" role="tablist">
    {% for key, tab in tabs %}
        {%  set active = '' %}
        {%  if selected == key %}{%  set active = 'class="active"' %}{% endif %}
        <li role="presentation" {{- active|raw -}}><a href="#{{- key -}}" aria-controls="{{- key -}}" role="tab" data-toggle="tab">{{- tab|raw -}}</a></li>
    {% endfor %}
</ul>

<div class="tab-content">
    {% for key, tab in tab_contents %}
        {%  set active = '' %}
        {%  if selected == key %}{%  set active = ' active' %}{% endif %}
        <div role="tabpanel" class="tab-pane {{- active|raw -}}" id="{{- key -}}">{{ tab|raw }}</div>
    {% endfor %}
</div>
{% endmacro %}